@use "sass:color";
$primary-color: #28a745;
.hero {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), 
                url('/background.jpg') center/cover no-repeat;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  
    &__nav {
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 2rem;
      width: 100%;
      text-align: center;
      font-size: 0.8rem;
      letter-spacing: 1px;
      
      ul {
        display: flex;
        list-style: none;
        gap: 20px; // Adjust spacing between menu items
        padding: 0;
        margin: 0;
        flex-grow: 1; // Allows items to take up full space
      }
    
      li:first-child {
        font-size: 0.85rem;
        margin-left: 2rem;
        margin-right: auto; // Pushes everything else to the right
      }
    
      li a {
        text-decoration: none;
        color: white;
        font-weight: normal;
        padding: 10px;
        transition: background-color 0.3s;
    
        &:hover {
          background-color: color.adjust(black, $lightness: 80%, $alpha: -0.7);
        }
      }
      li:last-child {
        margin-right: 2rem;
      }
      .menu-btn {
        padding: 0 2rem;
        margin: 0;
        display: none; // Hidden by default on larger screens
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        z-index: 1100;
      }
    }
    .sidebar {
      position: fixed;
      top: 0;
      right: -100%; // Initially hidden off-screen
      width: 20rem;
      height: 100vh;
      background: linear-gradient(
        to bottom, 
        color.adjust($primary-color, $lightness: -10%) 0%,  
        color.adjust($primary-color, $lightness: -30%) 50%,  
        color.adjust($primary-color, $lightness: -100%) 100%);
      transition: right 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 50px 20px;
      z-index: 1000;
    
      &.open {
        display: none;
        right: 0; // Slide in when open
      }
    
      ul {
        list-style: none;
        padding: 0;
        width: 100%;
    
        li {
          padding: 15px 0;
          transition: background-color 0.3s ease-in-out;
          
          a {
            text-decoration: none;
            color: white;
            font-size: 0.9rem;
            display: block;
            text-align: left;
            margin-left: 2rem;
          }
          &:hover {
            background-color: color.adjust(black, $lightness: 80%, $alpha: -0.7);
          }
        }
      }
    
      .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: white;
        cursor: pointer;
      }
    }
    @media (max-width: 1033px) {
      .hero__nav {
        ul {
          li {
            a {
              display: none; // Hides navigation links
            }
          }
          li:first-child a {
            display: inline-block; // Keep only the first link visible
          }
        }
        .menu-btn {
          display: block; // Show only on smaller screens
        }
      }
      .sidebar {
        &.open {
          display: block;
        }
      }
    }

    
  
    &__content {
      position: absolute;
      z-index: 1;
    }
  
    &__image {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      margin-top: 6rem;
      animation: borderExpand 2.5s infinite ease-in-out;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.08);
        animation: none;
      }
    }
    @keyframes borderExpand {
      50% {
        box-shadow: 0 0 1rem 0.5rem color.adjust($primary-color, $alpha: -0.6);
      }
    }
    
  
    &__name {
      font-size: 2.2rem;
      font-weight: bold;
      margin-bottom: 0px;
    }
  
    &__title {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      font-weight: bold;
      margin-bottom: 1.2rem;
    }
  
    &__buttons {
      // display: flex;
      gap: 15px;
      justify-content: center;
    }
  
    &__btn {
      background-color: $primary-color;
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
      text-decoration: none;
      transition: background-color 0.3s, transform 0.3s;
      font-size: 0.8rem;
      border: none;
  
      &:hover {
        background-color: color.adjust($primary-color, $lightness: -10%);
        transform: scale(1.08);
      }
      &:focus {
        outline: none;
      }
    }
  }
  